.container {
  position: absolute;
  top: 20px;
  left: 10px;
  bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

table, th, td{
	border: 1px white solid;
	border-collapse: collapse;
}
th, td{
	padding: 4px;
	overflow: hidden;
}
table{
	width: 285px;
	margin-bottom: 10px;
}
th{
	font-size: 13px;
	font-weight: 2px;
}
td{
	font-size: 13px;
	text-overflow: clip;
}