.container {
  position: absolute;
  top: 20px;
  left: 10px;
  bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

table, th, td{
	border: 1px white solid;
	border-collapse: collapse;
}
th, td{
	padding: 4px;
	overflow: hidden;
}
table{
	width: 410px;
	margin-bottom: 10px;
}
th{
	font-size: 13px;
	font-weight: 2px;
}
td{
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

loading {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.75);
  z-index:9999;
  color: white;
}

.navButtons{
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.navButtons p{
	font-size: 14px;
}