.container {
  position: absolute;
  top: 5px;
  left: 10px;
  bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

table, th, td{
	border: 1px white solid;
	border-collapse: collapse;
}
th, td{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	overflow: hidden;
}
table{
	width: 450px;
	margin-bottom: 10px;
}
th{
	font-size: 12px;
	font-weight: 2px;
}
td{
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.link{
	font-size: 10px;
}
r{
	font-size: 10px;
}
overlay {
	position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.75);
  z-index:9999;
  color: white;
}
overlay form{
	margin-top: 50px;
}
.nav{
	display: flex;
	flex-direction: column;
}
.navButtons{
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 25px;
	width: 100%;
}
.navDirections{
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 20px;
}
.navDirections p{
	margin-top: 1px;
	font-size: 14px;
}
